/* .root: {
  display: "flex";
  flex-wrap: "wrap";
  max-width: "10rem";
}

.textfield: {
  margin-left: theme.spacing(1);
  margin-right: theme.spacing(1);
  width: "25ch";
}
 */
.root {
  position: relative;
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  border: 2px solid pink;
}

.signin-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  display: flex;
  width: 10rem;
  height: auto;
}

.signin-btn {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  padding: 2rem;
  cursor: pointer;
}

.signin-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(69, 123, 157, 0.35) 0px -2px 6px 0px inset;
}

.each-form {
  border: 2px solid red;
  margin: 2rem;
  text-align: center;
  max-width: 23rem;
}

/* @media screen and (min-width: 800px) {
.root {
  position: flex;
  margin-top: 15rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border: 2px solid pink;
  max-width: 20rem;
}
} */
