.category-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.category-btn {
  border: 2px solid white;
  width: 22vw;
  margin: 0.5rem;
  padding: 0.7rem;
  background: transparent;
  color: var(--clr-whitish);
  align-content: center;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.category-btn:hover {
  border: 2px solid black;
}

@media screen and (min-width: 800px) {
  .category-btns {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .category-btn {
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background: transparent;
    color: var(--clr-whitish);
    align-content: center;
    font-size: large;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .category-btn {
    max-width: 300px;
    padding: 1.05rem;
  }
}
