.footer {
  width: auto;
  margin: 5rem auto;
  background-color: var(--crl--blue);
  padding: 2.5rem 2rem;
  display: flex;
}
.footer-center {
  width: 90vw;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-mobile-show {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.footer-header {
  display: none;
}

.footer-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-title {
  color: var(--clr-red);
}
.footer-each-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 2rem;
  padding: 2rem;
}

@media screen and (min-width: 800px) {
  .footer {
    margin-top: 2rem;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
    z-index: 1;
    background-color: var(--crl--blue);
  }
  .footer-center {
    width: 90vw;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /*   .footer-link {
    display: flex;
    flex-direction: column;
    color: violet;
  } */
  .policy-links {
    display: flex;
    flex-direction: column;
  }
  .policy-btn {
    height: 100%;
    background: transparent;
    border-radius: 30px;
    margin: 0.8rem 1rem;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .policy-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
    padding: 5px;
  }
  .footer-mobile-show {
    display: none;
  }
  .hours {
    color: var(--clr-whitish);
  }
  .holiday {
    color: var(--clr-red);
  }
}
