/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* --max-width: 1170px; */
  --max-width: 1400px;
  --fixed-width: 620px;
  /* theme color */
  --clr-red: rgb(230, 57, 70);
  --clr-whitish: rgb(240, 248, 255);
  --crl--blue: rgba(29, 53, 87, 0.99);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  color: var(--clr-red);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Stripe Styles
===============
*/
.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: sticky;
  z-index: 1;
  top: 0px;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px;
  position: relative;
  color: var(--clr-whitish);
  border: 2px solid var(--clr-red);
}

.side-logo {
  padding: 10px;
  margin-right: 200px;
  position: relative;
  color: var(--clr-whitish);
  border: 2px solid var(--clr-red);
}

.logo-sidebar {
  margin-bottom: "20px";
  margin-top: "30px";
}
.buy-btn {
  height: 100%;
  background: transparent;
  border-radius: 30px;
  border-color: transparent;
  font-size: 1.1rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 10rem;
  cursor: pointer;
  margin-right: 3px;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(69, 123, 157, 0.35) 0px -2px 6px 0px inset;
}

.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-grey-5);
}
.nav-links {
  display: none;
}
.cart-btn {
  display: none;
  background-color: transparent;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--crl--blue);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(241, 250, 238); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(241, 250, 238);
  }
}

.hero-info h1 {
  text-transform: uppercase;
  max-width: 500px;
  margin-bottom: 2rem;
}
.hero-info p {
  max-width: 35em;
  line-height: 1.8;
}
.hero-images {
  display: none;
}

/* nav media query */
@media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .cart-btn {
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-radius: 30px;
    padding: 10px;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    cursor: pointer;
    margin-right: 3px;
  }
  .link-btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(69, 123, 157, 0.35) 0px -2px 6px 0px inset;
  }
}

/* hero media query */
@media screen and (min-width: 800px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
  }

  .hero-info h1 {
    font-size: 3rem;
  }
  .hero-info p {
    font-size: 1.25rem;
  }
  .hero-images {
    display: block;
    justify-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
  .phone-img {
    width: 17rem;
  }
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(69, 123, 157, 0.4);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);
  background: rgba(69, 123, 157, 0.9);

  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.sidebar article {
  margin-bottom: 2rem;
}

.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-btn {
  padding: 10px;
  background-color: rgb(69, 123, 157);
  box-shadow: rgba(69, 123, 157, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 0;
  border-radius: 15px;
  margin-right: 5px;
}
.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  flex-grow: var(--spacing);
  align-items: center;
  font-size: 20px;
}
.sidebar-sublinks svg {
  color: rgb(241, 250, 238);
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}

/****************** SUBMENU links **********************/
.submenu {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.row-2 {
  grid-template-rows: repeat(2, 1fr);
}
.row-3 {
  grid-template-rows: repeat(3, 1fr);
}
.row-4 {
  grid-template-rows: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

.tempbanner {
  margin: 50px;
  padding: 30px;
  background-color: brown;
}

.banner {
  width: 100%;
}

.guitar {
  margin: 50px;
  padding: 30px;
  background-color: transparent;
}

.guitars {
  width: 180%;
  margin-left: 2px;
}

.guitar-section {
  content: "";
  /* position: absolute; */
  width: 100%;
  height: 65vh;
  top: 0;
  left: 0;
  background-color: var(--crl--blue);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  margin-bottom: 3rem;
}

.guitar-sale {
  text-align: center;
  color: var(--clr-whitish);
  margin-bottom: 100px;
}

@media screen and (max-width: 1500px) {
  .guitars {
    width: 190%;
    margin-left: 25px;
  }
  .guitar-sale {
    text-align: center;
    color: var(--clr-whitish);
    margin-bottom: 100px;
  }
  .guitar-section {
    height: 57vh;
  }
}

@media screen and (max-width: 1300px) {
  .guitars {
    width: 190%;
    margin-left: 25px;
  }
  .guitar-sale {
    text-align: center;
    color: var(--clr-whitish);
    margin-bottom: 100px;
  }
  .guitar-section {
    height: 52vh;
  }
}

.slick-prev {
  left: -52px !important;
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 48px;
}
.next-arrow,
.prev-arrow {
  color: #000000;
  font-size: 38px;
}

/* Home page post-section */
.post-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /*  resize: horizontal;
  overflow: auto; */
}

.post-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 2rem;
}
/* 
https://www.w3schools.com/cssref/css3_pr_resize.asp
https://stackoverflow.com/questions/19213712/my-website-mess-up-with-browser-resize
*/

.stand-up {
  animation-name: guitar-stand-up;
}

@keyframes guitar-stand-up {
  0% {
    transform: hange(in, left, edge, 20000px, null);
  }
  30% {
    transform: hinge(in, left, edge, 20000px, null);
  }
  100% {
    transform: hinge(in, bottom, center, 20000px, from-back);
  }
}

/* 
// home-page guitar animation

https://github.com/foundation/motion-ui/blob/master/docs/animations.md
https://zurb.com/playground/motion-ui
*/

/******************8 footer section **********************/
.footer {
  width: auto;
  margin: 5rem auto;
  background-color: var(--crl--blue);
  padding: 2.5rem 2rem;
  display: flex;
}
.footer-mobile-show {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.footer-each-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.disabled {
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: not-allowed;
  pointer-events: none;
  background: transparent;
  border: none;
  color: var(--clr-whitish);
  font-size: large;
  margin-left: 1.5rem;
  line-height: 2;
}
.policy-mobile--btn {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 1rem;
  margin-left: 1.5rem;
  border-color: transparent;
  font-size: 1.1rem;
  color: var(--clr-whitish);
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 10rem;
  cursor: pointer;
}
.policy-mobile--btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(69, 123, 157, 0.35) 0px -2px 6px 0px inset;
  padding: 1rem 0.5rem;
}
.footer-header {
  display: none;
}

.footer-title {
  color: var(--clr-red);
}
.foo-btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-whitish);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
}
/**************** footer section  full-window  *****************/

@media screen and (min-width: 800px) {
  .footer {
    margin-top: 2rem;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
    z-index: 1;
    background-color: var(--crl--blue);
  }
  .footer-center {
    width: 90vw;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /*   .footer-link {
    display: flex;
    flex-direction: column;
    color: violet;
  } */
  .policy-links {
    display: flex;
    flex-direction: column;
  }
  .policy-btn {
    height: 100%;
    background: transparent;
    border-radius: 30px;
    margin: 0.8rem 1rem;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .policy-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
    padding: 5px;
  }
  .footer-mobile-show {
    display: none;
  }
  .hours {
    color: var(--clr-whitish);
  }
  .holiday {
    color: var(--clr-red);
  }
}

/************* FAQ ******************/
.faq-hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: var(--crl--blue);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.faq-hero {
  position: relative;
  width: 100%;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.faq-info {
  margin-top: 13rem;
}
.faq-main-title {
  margin-bottom: 3.5rem;
  color: var(--clr-red);
}
.faq {
  margin-bottom: 2rem;
}

.faq-title {
  color: var(--crl--blue);
}

/**************** newsletter section *****************/

.newsletter-container {
  width: 80vw;
  text-align: center;
  background: #e5989b;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 10vw;
}

.newsletter-title,
.newsletter-text {
  margin-left: 2rem;
  margin-right: 2rem;
}

.newsletter-input {
  width: 30vw;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  cursor: pointer;
  transition: var(--transition);
}

.newsletter-btn {
  font-size: 1rem;
  margin: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--crl--blue);
  cursor: pointer;
  transition: var(--transition);
}
.newsletter-btn:hover {
  background: var(--clr-grey-5);
}

/********** contact section *********/
.contact-page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  background-color: var(--crl--blue);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.contact-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 4rem;
}
.contact-info {
  margin-top: 15rem;
  margin-left: 3rem;
}

.contact-section {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0.65rem;
  color: var(--clr-red);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input {
  padding: 0.525rem;
  margin-bottom: 0.5rem;
  background: var(--clr-whitish);
  border: none;
  border-radius: 0.3rem;
}

.contact-btn {
  background: transparent;
  border-radius: 30px;
  border-color: transparent;
  font-size: 1.1rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(69, 123, 157, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (min-width: 800px) {
  .contact-page::before {
    height: 100%;
  }

  .contact {
    grid-template-columns: 1fr 4fr;
    align-items: center;
  }
  .contact-form {
    margin-bottom: -10rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding-bottom: 12vh;
  }
}

/************* Products  ************/

.products-page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  background-color: var(--crl--blue);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.products-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 4rem;
}

.guitar-category {
  border: 2px solid pink;
}

.guitar-brand {
  border: 2px solid green;
  margin: 2rem;
}

.guitar-color {
  border: 2px solid yellow;
  margin: 2rem;
}

@media screen and (min-width: 800px) {
  .products-page::before {
    height: 100%;
  }

  .products {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .contact-form {
    margin-bottom: -10rem;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-bottom: 12vh;
  }
}
